@import url('https://fonts.googleapis.com/css?family=Pompiere');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
*
{
	margin:0;
	padding:0;
	overflow:hidden;
	border:none;
	outline:none;
}
html{
	--bg-color-a:#1a1a1c;
	--bg-color-b:#2b2b2d;
	--bg-color-c:#3c3c3e;
}
html,body
{
	width:100%;
	height:100%;
	background:var(--bg-color-a);
}
#signin{width:100%;height:100%;visibility:visible;}
#signin>h1,#signin>h3,#signin>button{text-align:center;font-family:'Ubuntu Mono';}
#signin>h1{font-size:5em;}
#signin>h3{font-size:3em;}
#dashboard{width:100%;height:100%;filter:none;visibility:hidden;}
#dashboard>*{visibility:hidden;}
path.prog-bar{font-size:0;}
div.cell
{
	position:absolute;
	width:20%;
	height:15%;
	background:var(--bg-color-b);
	box-shadow:10px 10px #000;
}
div#title
{
	left:5%;
	top:5%;
	width:25%;
	height:15%;
	font-family:'Ubuntu Mono';
	font-size:2em;
	text-align:center;

	-webkit-touch-callout:none;
	  -webkit-user-select:none;
			   -moz-user-select:none;
						 -ms-user-select:none;
							 -o-user-select:none;
								   user-select:none;
}
div#city
{
	width:100%;
	height:35%;
	font-family:'Pompiere';
	font-size:2.5vw;
}
div#date
{
	width:100%;
	height:25%;
	font-size:1.3vw;
}
div#time
{
	width:100%;
	height:25%;
	font-size:1.5vw;
}
div#tasks
{
	left:5%;
	top:30%;
	width:25%;
	height:40%;
}
div#tasks ol
{
	width:100%;
	height:100%;
}
li.task
{
	width:100%;
	height:10%;
}
textarea.task-name
{
	font-family:'Ubuntu Mono';
	font-size:1.5vw;
	float:left;
	background:var(--bg-color-b);
	width:60%;
	height:100%;
}
textarea.task-time
{
	font-family:'Ubuntu Mono';
	font-size:1.25vw;
	float:left;
	background:var(--bg-color-b);
	width:20%;
	height:100%;
}
li.task button
{
	font-family:'Ubuntu Mono';
	font-size:.5vw;
	float:left;
	width:10%;
	height:100%;
	background:var(--bg-color-b);
}
button.task-start{float:left;width:10%;height:100%;background:var(--bg-color-b);}
button.task-stop{float:left;width:10%;height:100%;background:var(--bg-color-b);}
div#colors
{
	left:5%;
	top:80%;
	width:25%;
	height:15%;
}
div#top
{
	width:100%;
	height:30%;
}
div#top textarea
{
	float:left;
	width:70%;
	height:100%;
	background:var(--bg-color-b);
	resize:none;
	font-family:'Ubuntu Mono';
	font-size:2vw;
}
div#top button
{
	float:left;
	width:30%;
	height:100%;
	background:var(--bg-color-c);
	font-family:'Pompiere';
	font-size:1vw;
}
div#bottom
{
	width:100%;
	height:70%;
}
div#colors ol
{
	float:left;
	width:20%;
	height:100%;
}
div#colors ol li
{
	width:100%;
	height:25%;
	font-size:0;
}
li#a{background:#1abc9c;}
li#b{background:#16a085;}
li#c{background:#f1c40f;}
li#d{background:#f39c12;}
li#e{background:#2ecc71;}
li#f{background:#27ae60;}
li#g{background:#e67e22;}
li#h{background:#d35400;}
li#i{background:#3498db;}
li#j{background:#2980b9;}
li#k{background:#e74c3c;}
li#l{background:#c0392b;}
li#m{background:#9b59b6;}
li#n{background:#8e44ad;}
li#o{background:#ecf0f1;}
li#p{background:#bdc3c7;}
li#q{background:#34495e;}
li#r{background:#2c3e50;}
li#s{background:#95a5a6;}
li#t{background:#7f8c8d;}
div#stats
{
	left:35%;
	top:5%;
	width:25%;
	height:16%;
	font-family:'Ubuntu Mono';
	font-size:1.1vw;
	display:table;

	-webkit-touch-callout:none;
	  -webkit-user-select:none;
			   -moz-user-select:none;
						 -ms-user-select:none;
							 -o-user-select:none;
								   user-select:none;
}
div#goal1
{
	left:35%;
	top:30%;
	width:25%;
	height:65%;
}
div#goal2
{
	left:65%;
	top:5%;
	width:25%;
	height:15%;
}
div#goal2 ol li textarea.goal {font-size:1.25vw;}
div.div-goal ol
{
	width:100%;
	height:100%;
}
div.div-goal ol li
{
	width:100%;
	height:20%;
	background:var(--bg-color-c);
}
textarea.goal
{
	float:left;
	background:var(--bg-color-b);
	resize:none;
	width:70%;
	height:100%;
	font-family:'Ubuntu Mono';
	font-size:1.5vw;
}
input.input
{
	float:left;
	background:var(--bg-color-b);
	resize:none;
	width:100%;
	height:2%;
	font-family:'Ubuntu Mono';
	font-size:1.6vw;
}
svg
{
	float:left;
	width:10%;
	height:100%;
}
textarea.percent
{
	float:left;
	width:10%;
	height:100%;
	background:var(--bg-color-c);
	resize:none;
	text-align:center;
	font-family:'Ubuntu Mono';
	font-size:1.3vw;

	-webkit-touch-callout:none;
	  -webkit-user-select:none;
			   -moz-user-select:none;
						 -ms-user-select:none;
							 -o-user-select:none;
								   user-select:none;
}
div.container
{
	float:left;
	width:30%;
	height:100%;
	text-align:center;
}
div.progress
{
	width:0;
	height:100%;
}
div.add,div.sub
{
	float:left;
	width:5%;
	height:100%;

	cursor:default;
	-webkit-touch-callout:none;
	  -webkit-user-select:none;
			   -moz-user-select:none;
						 -ms-user-select:none;
							 -o-user-select:none;
								   user-select:none;
}
div#note1
{
	left:65%;
	top:30%;
	width:25%;
	height:15%;
}
div#note2
{
	left:65%;
	top:55%;
	width:25%;
	height:15%;
}
div#note3
{
	left:65%;
	top:80%;
	width:25%;
	height:15%;
}
div#note1 textarea, div#note2 textarea, div#note3 textarea
{
	width:100%;
	height:100%;
	background:var(--bg-color-b);
	resize:none;
	font-family:'Pompiere';
	font-size:1vw;
}
div#options
{
	left:65%;
	top:80%;
	width:25%;
	height:15%;
}
div#options button
{
	width:100%;
	height:50%;
	background:var(--bg-color-b);
	text-align:center;
	font-family:'Pompiere';
	font-size:2em;
}
.clr-bg{background:#fff;}
.clr-fg{color:#fff;}
ol#settings{
	visibility:hidden;
	position:absolute;
	left:20%;
	top:27.5%;
	width:60%;
	height:45%;
	color:#fff;
}
ol#settings>li{
	width:100%;
	height:20%;
}
.setting-name,.setting-value{
	float:left;
	width:50%;
	height:100%;
	font-size:3em;
	font-family:'Ubuntu Mono';
	background:transparent;
	color:#fff;
}
.button-main {
	background-color: #e7e7e7;
	color: black;
	left: 50%;
}