@import url('https://fonts.googleapis.com/css?family=Muli');

html, body {
	margin:0;
	padding:0;
	width:100vw;
	height:100vh;
	overflow:hidden;
}

img {
	float:left;
	width:128px;
	height:128px;
	margin:calc(15vh - 64px) calc(50vw - 64px);
	border-radius:50%;
}

p {
	float:left;
	width:calc(60vw - 40px);
	height:calc(70vh - 40px);
	margin:10px calc(20vw + 10px);
	color:black;
	font-family:'Muli';
	font-size:200%;
}
